sampleA/
sampleB/
compiled-MEngTracker/x64/
x64/
compiled-MEngTracker.sln
.vs/compiled-MEngTracker/v14/.suo
compiled-MEngTracker/old demo code/
compiled-MEngTracker/compiled-MEngTracker.vcxproj
compiled-MEngTracker/compiled-MEngTracker.vcxproj.filters
compiled-MEngTracker/sampleC/
compiled-MEngTracker/sampleD/
compiled-MEngTracker/sampleE/
compiled-MEngTracker/saveMat/
compiled-MEngTracker/bandicam 2017-04-12 15-44-38-639.jpg
